body {
  height: 300em;
}

/*navbar*/
.navbar {
  position: fixed !important;
  font-size: large;
  font-family: "Roboto", sans-serif;
}

.btn-margin-left {
  margin-left: 15px;
}

.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
}

/*.btn-margin-right {
    margin-right: 2px;
}*/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.display-4 {
  font-family: "Oleo Script", cursive;
  font-size: 5rem;
  font-weight: 500;
  color: #ffa45e;
}

.leadp {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #6c3ac599;
}

.btn-contato {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.5);
  background-color: #9a77cf;
  border-color: #8865c5e0;
}

.btn-slide2 {
  color: #673ab7;
  background-color: transparent;
  border-color: #673ab7;
}

.item {
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}

.carousel-inner > .item > img {
  object-fit: cover;
  height: 100vh !important;
}

.carousel-caption img {
  height: 250px;
}

/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
  .display-4 {
    font-size: 3.5rem;
  }

  .carousel-caption {
    right: 20%;
    left: 3%;
    padding-bottom: 40px;
    text-align: left;
  }
  .caption-slide2 {
    right: 20%;
    padding-bottom: 40px;
  }

  .caption-slide3 {
    padding-bottom: 40px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  .carousel-caption {
    right: 40%;
    left: -10%;
    padding-bottom: 60px;
    top: 3%;
    text-align: center;
  }
  .caption-slide2 {
    left: 150px;
    text-align: center;
    padding-bottom: 100px;
  }
  .caption-slide3 {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
    .display-4 {
        font-size: 5rem;
    }
  .carousel-caption {
    right: 20%;
    left: 3%;
    padding-bottom: 250px;
    text-align: left;
  }
  .caption-slide2 {
    padding-bottom: 10px;
    left: 40%;
    text-align: center;
    top: 55%;
    right: 0;
  }
  .caption-slide3 {
    padding-bottom: 40px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1216px) {
  .display-4 {
    font-size: 5.5rem;
  }

  .carousel-caption {
    left: 0;
    padding-bottom: 60px;
    top: 10em;
    width: 50%;
    padding: 2em;
  }
  .caption-slide2 {
    right: 50px;
    left: 800px;
    top: 400px;
    text-align: center;
  }
  .caption-slide3 {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1408px) {
  .display-4 {
    font-size: 6rem;
  }

  .carousel-caption {
    left: 0;
    top: 7em;
    text-align: center;
  }
  .caption-slide2 {
    right: 50px;
    left: 700px;
    top: 400px;
    text-align: center;
  }
  .caption-slide3 {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 2000px) {
  .display-4 {
    font-size: 10rem;
  }

  .carousel-caption {
    left: 0;
    top: 7em;
    text-align: center;
  }
  .caption-slide2 {
    right: 0;
    left: 50%;
    top: 600px;
    text-align: center;
    padding-bottom: 0;
  }
  .btn-lg {
    font-size: 30px;
  }
  .caption-slide3 {
    padding-bottom: 40px;
  }
}
