@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ot1644');
  src:  url('fonts/icomoon.eot?ot1644#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ot1644') format('truetype'),
    url('fonts/icomoon.woff?ot1644') format('woff'),
    url('fonts/icomoon.svg?ot1644#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adulto:before {
  content: "\e900";
}
.icon-psicoeducacao:before {
  content: "\e901";
}
.icon-psicoterapia:before {
  content: "\e902";
}
.icon-atend-online:before {
  content: "\e903";
}
.icon-recrutamento:before {
  content: "\e904";
}
.icon-saude-trab:before {
  content: "\e905";
}
.icon-2913002:before {
  content: "\e906";
}
